<p>
¡Hola!
</p>

<p>
¡Ya se viene la Avant Première!! Estamos en la recta final para el evento. :-)
</p>

<p>
Este año va a ser realmente un mini-festival. Habrá actividades simultáneas, así como un espacio de cantina y chill-out. 
</p>

<p>
Para garantizar tu comodidad durante las vivencias, éstas tendrán vacantes limitadas; por ese motivo preparamos un sistema de pre-registro.
</p>

<p><b>ATENCIÓN</b><br/>
Ingresá en este <%= link_to link, @url %> y reservá tu lugar en las actividades que más te interesen. Al reservar tu vacante también estás armando tu propio programa del evento, al que podrás acceder en esta misma página. 
</p>

<p>
¡Entrá pronto para garantizar tu lugar!
</p>

<table cellspacing="0" cellpadding="0">
<tr>
<td align="center" width="300" height="40" bgcolor="#0275d8" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #0275d8; display: block;">
<a href="<%= @url %>" style="font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block"><span style="color: #FFFFFF">Reservar mis lugares</span></a>
</td>
</tr>
</table>
