<p>
¡Hola!
</p>

<p>
Si te está llegando este mail es porque <b>tenés tu lugar para asistir a la Avant Première del DeROSE Festival 2016 Buenos Aires</b>, el sábado 6 de agosto a las 15 h en la <a href="https://www.google.com.ar/maps/place/M%C3%A9todo+DeRose+%7C+Cervi%C3%B1o/@-34.5800952,-58.4153472,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb579149905eb:0x8b01ed4c0c095bf5!8m2!3d-34.5800952!4d-58.4131585?hl=en">Sede Cerviño (Rep. Árabe Siria 3088)</a>.
</p>

<p>
<b>Leé estas sugerencias para aprovechar bien la jornada:</b>
</p>

<p>
<ul>
  <li>Te recomendamos llegar temprano, con tiempo de acomodarte para empezar bien puntual.</li>
  <li>¡Si no podés venir, por favor avisanos! Así liberamos tu lugar para otras personas que quieran participar.</li>
  <li>Sería ideal si podés venir con ropa de prácticas, para no sobrecargar los vestuarios.</li>
  <li>Si venís en bicicleta podés dejarla en algún estacionamiento de la zona, esta vez no habrá lugar para dejarla en la escuela.</li>
  <li>Para compartir todo lo que vaya pasando en el evento, sumate difundiendo con el hashtag  #DeRoseFestBA #DeRoseMethod en las redes sociales.</li>
</ul>
</p>

<p>
<b>¡Te esperamos el sábado para una tarde de aprendizajes y diversión!</b>
</p>

<p>
Un abrazo<br/>
Equipo organizador<br/>
DeROSE Festival Buenos Aires<br/>
</p>
