<p>
¡Gracias por participar!  Te agradeceríamos mucho si se pudieras tomar 5 minutos para responder estas preguntas sobre tu experiencia en el evento.
</p>

<p>
<%= link_to 'Ir a la encuesta', 'https://goo.gl/forms/flvnoyrmWb3kD5Aj1' %>
</p>

<p>
¡Tus comentarios son muy importantes para seguir mejorando!
</p>


<p>
Equipo Organizador<br/>
DeRose Festival Buenos Aires
</p>

