<%= form_for :user, url: session_path(:user), class: '' do |f| %>
  <div class="card">
    <div class="card-block">
    <fieldset class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: t('.input_your_email'), class: 'form-control' %>
    </fieldset>
    </div>
    <div class="card-footer">
      <%= f.submit t('.send_me_login_link'), class: "btn btn-primary" %>
    </div>
  </div>
<% end -%>
