<% @timeslots.each do |timeslot| -%>
  <div class="row">
    <% @rooms.each do |room| -%>
      <div class="col-md-<%= col_width %>">
        <% activity = activity_for(room,timeslot) %>
        <% if activity -%>
          <%= render partial: 'activity_card',
            locals: {
              activity: activity,
              room: room
          } %>
        <% end -%>
      </div>
    <% end -%>
  </div>
<% end -%>
